# idea ignore
.idea/
*.iml
*/*.iml

# eclipse ignore
.project
.classpath
/.settings
target
*/.gitigore
*/.project
*/.classpath
*/.settings
*/target

# mvn ignore
pom.xml.versionsBackup
*/pom.xml.versionsBackup

demo-api/src
demo-api-test/src/main
demo-api-test/src/test/data
demo-api-test/src/test/java
demo-api-test/src/test/resources/testng.xml
demo-base/src
demo-bundle/src
demo-bundle-mock/src


