*.bat
*.log
*.log.*
pom.xml.versionsBackup
.project
Base/src/main/java
Mbg/src/main/java
Mbg/src/main/resources/mappers
Bundle/src
BundleMock/src
SDK/src/main/java
SDK/src/test/java
SDK/src/test/resources/*.properties
/.settings
*/*.log
*/*.log.*
*/logs
*/target
*/test*
*/.settings
*/.classpath
*/.project
*/pom.xml.versionsBackup
*/*/target
*/*/.settings
*/*/.classpath
*/*/.project
*/*/pom.xml.versionsBackup

