*.bat
*.log
*.log.*
pom.xml.versionsBackup
.project
Base/src
Bundle/src
/.settings
*/*.log
*/*.log.*
*/logs
*/target
*/test*
*/.settings
*/.classpath
*/.project
*/pom.xml.versionsBackup
*/*/target
*/*/.settings
*/*/.classpath
*/*/.project
*/*/pom.xml.versionsBackup

