<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="log4jInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>${system.configDir}/log4j.xml</value>
			</list>
		</property>
	</bean>
	<bean id="propertyConfigure"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
                <value>file:${system.configDir}/batch.properties</value>
                <value>file:${system.configDir}/service.properties</value>
				<value>file:${system.configDir}/jdbc.properties</value>
				<value>file:${system.configDir}/redis.properties</value>
                <value>file:${system.configDir}/activemq.properties</value>
                <value>file:${system.configDir}/rabbitmq.properties</value>
			</list>
		</property>
	</bean>
	<bean id="shutdownService" class="com.fastjrun.system.ShutdownService">
		<constructor-arg value="${shutdown.port}" index="0" />
	</bean>
    <!-- 加载当前目录下的xml -->
    <import resource="applicationContext-*.xml" />
    <!-- 加载其他spring文件 -->
    <import resource="classpath*:applicationContext-persistence.xml" />
    <import resource="classpath*:applicationContext-activemq-producer.xml" />
    <import resource="classpath*:applicationContext-rabbitmq-producer.xml" />
    <import resource="classpath*:applicationContext-jedis.xml" />
    <import resource="classpath*:applicationContext-service.xml" />
</beans>