<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="propertyConfigure"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:service.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:redis.properties</value>
				<value>classpath:activemq.properties</value>
				<value>classpath:rabbitmq.properties</value>
			</list>
		</property>
	</bean>
	<!-- 加载当前目录下的xml -->
	<import resource="applicationContext-*.xml" />
	<!-- 加载其他spring文件 -->
	<import resource="classpath*:applicationContext-persistence.xml" />
	<import resource="classpath*:applicationContext-activemq-producer.xml" />
	<import resource="classpath*:applicationContext-rabbitmq-producer.xml" />
	<import resource="classpath*:applicationContext-jedis.xml" />
	<import resource="classpath*:applicationContext-service.xml" />
</beans>