<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="service">
	<test name="userServiceRest" preserve-order="true">
		<classes>
			<class name="com.fastjrun.demo.service.impl.UserServiceRestImplTest" >
				<methods>
					<include name="testRegister" />
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
</suite>

