<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="persistence">
	<test name="baseUserDao" preserve-order="true">
		<classes>
			<class name="com.fastjrun.demospring4.dao.BaseUserDaoTest" >
				<methods>
					<include name="testInsert" />
					<include name="testSelectById" />
                    <include name="testUpdateById" />
                    <include name="testDeleteById" />
                    <include name="testTotalCount" />
                    <include name="testQueryForList" />
                    <include name="testQueryForLimitList" />
                    <include name="testTotalCountCondition" />
                    <include name="testQueryForListCondition" />
                    <include name="testQueryForLimitListCondition" />
				</methods>
			</class>
		</classes>
	</test>
</suite>

