<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory，由对应的 JMS服务厂商提供 -->
	<bean id="targetConnectionFactoryActiveMQ" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="userName" value="${activemq.userName}" />
		<property name="password" value="${activemq.password}" />
		<property name="brokerURL" value="${activemq.brokerURL}" />
		<property name="useAsyncSend" value="true" />
	</bean>

	<bean id="pooledConnectionFactoryActiveMQ" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="targetConnectionFactoryActiveMQ" />
		<property name="maxConnections" value="${activemq.maxConnections}" />
	</bean>
	<bean id="connectionFactoryActiveMQ"
		class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="pooledConnectionFactoryActiveMQ" />
	</bean>

	<!--生产者 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
		<property name="connectionFactory" ref="connectionFactoryActiveMQ" />
		<!-- 非持久保存消息 -->
		<property name="deliveryMode" value="1" />
		<!-- 不使用事物 -->
		<property name="sessionTransacted" value="false" />
		<property name="messageIdEnabled" value="true" />
		<!-- 消息过期时间-单位:毫秒 24*60*60*1000 -->
		<property name="timeToLive" value="60000" />
		<!-- PTP时为false,pub时为true -->
		<property name="pubSubDomain" value="false" />
	</bean>

	<!--这个是队列目的地 -->
	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>${activemq.queueName}</value>
		</constructor-arg>
	</bean>
</beans>